:root {
  --switch-height: 2.5rem;
  --switch-width: calc(1.75 * var(--switch-height));
  --slider-margin: 4px;
  --transition: 0.35s;
  --checked-position: calc(var(--switch-width) - var(--switch-height));
}

body {
  background-color: whitesmoke;
  margin: 0;
  height: 100svh;
  overflow: hidden;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  font-size: 1.25rem;
}

.container {
  display: grid;
  gap: 1rem;
}

.switch {
  position: relative;
}

.switch label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slider {
  position: relative;
  display: inline-block;
  height: var(--switch-height);
  width: var(--switch-width);
  background-color: #ccc;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  border-radius: 100vmax;
}

.slider:before {
  content: '';
  position: absolute;
  top: var(--slider-margin);
  left: var(--slider-margin);
  height: calc(var(--switch-height) - 2 * var(--slider-margin));
  width: calc(var(--switch-height) - 2 * var(--slider-margin));
  background-color: white;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  border-radius: 100vmax;
}

.switch input {
  margin: 0;
  position: absolute;
  top: 50%;
  left: calc(0.5 * var(--switch-width));
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
}

.red input:checked + .slider {
  background-color: #ff0800;
}

.green input:checked + .slider {
  background-color: #00ff40;
}

.blue input:checked + .slider {
  background-color: #007fff;
}

.switch input:checked + .slider:before {
  transform: translateX(var(--checked-position));
  -ms-transform: translateX(var(--checked-position));
  -webkit-transform: translateX(var(--checked-position));
}

.switch .label-text {
  margin-left: 1rem;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(2 * var(--switch-width));
  overflow: hidden;
}

.give-up,
.message {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: white;
  width: calc(var(--switch-width) * 4 - 2rem);
  height: calc(var(--switch-height) * 3 * 2 - 2rem);
  justify-content: center;
  box-shadow: 2px 2px 0 2px;
  padding: 1rem;
}

.message {
  text-align: center;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  border: none;
  outline: none;
  font-size: 1.25rem;
  height: var(--switch-height);
  width: var(--switch-width);
  cursor: pointer;
}

.btn-no {
  background-color: whitesmoke;
}

.btn-yes {
  background-color: #ffb5b5;
}

.hide {
  display: none;
}
